html{
height: 100vh;
width: 100vw;

}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: rgb(177, 171, 171);
}

#browser-window {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0;
  border: 5px solid rgb(122, 61, 61);
  height: 70vh;
  width: 60vw;
  margin: auto;
  background-image: url("../assets/tablebackground.png");
  background-size: cover; 
  overflow: hidden;
  cursor: url("../assets/flyswatter2.png"), crosshair;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

h3 {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  color: white;
  margin: 0px 400px;
  position: initial;
}

button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background-color: rgb(122, 61, 61);
  height: 75px;
  width: 300px;
  font-size: 40px;
  margin: 25px;
  transition: all 300ms ease;
}
button:hover {
  background-color: rgba(255, 0, 0, 0.608);
}

.ham {
  position: absolute;
  bottom: 5px;
  width: 300px;
  height: auto;
}
img {
  pointer-events: none
}
.fly {
  position: absolute;
  height: 10%;
  width: auto;
  border: 1px solid red;
  /*top: -12%;*/
  
}
.hp-bar {
  height: 8%;
  width: auto;
  margin: 10px;
  object-position: top;
  position: absolute;
  top:0;
  left:0;
  animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


