html{
height: 100vh;
width: 100vw;

}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: rgb(177, 171, 171);
}

#browser-window {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0;
  border: 5px solid rgb(122, 61, 61);
  height: 70vh;
  width: 60vw;
  margin: auto;
  background-image: url("../assets/tablebackground.png");
  background-size: cover;
}

h3 {
  display: flex;
  align-items: flex-start;
  color: white;
  margin: 0px 400px;
}

button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background-color: rgb(122, 61, 61);
  height: 75px;
  width: 300px;
  font-size: 40px;
  margin: 25px;
  transition: all 300ms ease;
}
button:hover {
  background-color: red;
}

.ham {
  position: absolute;
  bottom: 50px;
  width: 150px;
  height: auto;
}